{# -- Root that all templates inherit from -- #}
{# -- This allows for defining site-wide Twig variables as needed -- #}
{% apply spaceless %}

  {# 
		Element edit button
		------------------------------------------------
    Requires a currentUser who can access the CP and 
		the request should not be an iframe live preview 
	#}
  {% if currentUser
        and currentUser.can('accessCp')
        and not (craft.app.request.getIsPreview() and craft.app.request.headers.get('sec-fetch-dest') == 'iframe') %}
    {% html at endBody %}
      {% set element = craft.app.getUrlManager().getMatchedElement() %}
      {% if element and element.canSave(currentUser) %}
        <a href="{{ element.getCpEditUrl() }}"
           target="_blank"
           class="fixed left-0 bg-black text-sm text-white bottom-0 px-2 py-1 mb-6 ml-6 font-mono uppercase">
          Edit this page
        </a>
      {% endif %}
    {% endhtml %}
  {% endif %}

{% endapply %}

{% block response %}{% endblock %}
